body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid green;
}

header h1 {
    color: green;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav ul {
    list-style: none;
    padding: 12px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 16px 44px;
    background: green;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.appartement-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.appartement {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
}

.appartement img {
    width: 100%;
    height: auto;
}

.appartement h3 {
    margin: 10px;
}

.appartement p {
    margin: 0 10px 10px;
}

.appartement:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
